@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Montserrat+Alternates:ital,wght@1,700&family=Quicksand:wght@500&family=Red+Hat+Display:wght@400;600&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Montserrat+Alternates:ital,wght@1,700&family=Quicksand:wght@500&family=Red+Hat+Display:wght@600&family=Rubik+Mono+One&display=swap');

body{
  margin: 0px;
}
*{
    background-color: #ffffff;
}
.header-img{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.title{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ff9eda;
    font-size: 7rem;
    text-shadow:0 0 5px #945e7f;
    text-align: center;
  }


img {
    width: 200px; 
    height: 200px; 
}

h2,
h3,
li,
label,
button{
    font-family: 'Red Hat Display', sans-serif;
    list-style-type: none;
    color: #352035;
}

form button[type="submit"]:hover{
  background: rgb(85, 175, 85);
  color: white
}

form button[type="reset"]:hover,
button[type="remove"]:hover{
  background: #C21E56;
  color: #ffffff;
}

@media (max-width:2118px){
main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.new-flower-form,
.new-flower{
  padding: 50px ;
  text-align: left;
  font-size: 1.75rem;
}

.inventory-flower-a,
.inventory-flower-b,
.inventory-flower-c,
.inventory-flower-d{
  border: 3px solid #ff9eda ;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.inventory{
  display: grid;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
}


@media (max-width: 900px) {
  main{
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .new-flower-form,
  .new-flower{
    padding: 0px 10px 35px 20px ;
    margin: 35px 35px;
    text-align: center;
    font-size: 1.15rem;
    border: 2px solid #ff9eda;
  }

  .name,
  .color,
  .origin,
  .price,
  .radio{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    margin: 5px;
  }
  
  .inventory-flower-a,
  .inventory-flower-b,
  .inventory-flower-c,
  .inventory-flower-d{
    border: 3px solid #ff9eda ;
    text-align: center;
    padding: 10px;
    margin: 30px;
  }

  
  .inventory{
    display: grid;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 

}
}