@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Montserrat+Alternates:ital,wght@1,700&family=Quicksand:wght@500&family=Red+Hat+Display:wght@400;600&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Montserrat+Alternates:ital,wght@1,700&family=Quicksand:wght@500&family=Red+Hat+Display:wght@600&family=Rubik+Mono+One&display=swap');

*{
    background-color: #ffffff;
}

.title{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ff9eda;
    font-size: 7rem;
    text-shadow:0 0 5px #945e7f;
    text-align: center;
}

h2,
h3,
li,
label,
button{
    font-family: 'Red Hat Display', sans-serif;
    list-style-type: none;
    color: #352035;
}


